# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Unnecessary files and directories
.local
Downloads
Desktop
snap
noteforge-ai
*.py
__pycache__
*.pyc
cap_%d
estension.sh
init_firmware_project.fish
*.tar.gz
*.deb
map.pgm
map.yaml
test.py
vite.config.ts.timestamp-*.mjs

# System config files
.config/
.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.profile.bak
.sudo_as_admin_successful
.wget-hsts

# Markdown files (exclude all except README.md)
*.md
!README.md
